<!DOCTYPE html>
<html>
<head>
	<title>Rango - Add a Page </title>
	<h2> Add a page to category: {{category_name}} </h2>
</head>


<body>
<h1> Add a new page </h1>
<br/>
<div class="container">
	{% if not category_enc_name %}
		<div style="color: red;"> The specified category doesn't exist. </div>
	{% else %}
		<form class="span6" id="page_form" method="post" action="/rango/category/{{category_enc_name}}/add_page/">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
		{{ field.errors }} <br/>
		{{ field.help_text }} 
		{{ field }}
		{% endfor %}
		<br/>
		<input class="btn btn-primary" type="submit" name="submit" value="Create Page"/>
		</form>
		{% endif %}
		</div>
</div>
</body>


	
