<!DOCTYPE html>
<html>
<head>
	<title> Rango - Category </title>
</head>
<body>
	<div>
	{% if category %}
	<h1> {{ category.name }} </h1>
	{% if pages %}
		<ul>
		{% for page in pages %}
			<li> <a href="{{ page.url }}"> {{ page.title}}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<strong> No pages currently in the directory. </strong>
	{% endif %}
	{% else %}
		The specified category doesn't exist. 
	{% endif %}
	</div>
	<a href="/rango/category/{{category_enc_name}}/add_page/"> Add a new page </a>
</body>
</html>
