<!DOCTYPE html>
<!-- load static files -->
{% load staticfiles %}
<html>
	<head>
		<title> Rango </title>
	</head>
	
	<body>
	{% if user.is_authenticated %}
	<h1> Rango says.... Hello {{ user.username }} </h1>
	{% else %}
	<h1> Rango says..... Hello world! </h1>
	{% endif %}
	<div>
		Hey there programmer! Don't worry you'll get your GSoC!! <br/>
	</div>
	

	<div class="row-fluid">
	<div class="span6">
	<h1> List of Categories </h1>
	{% if categories %}
		<ul>
			{% for category in categories %}
				<li>
				<a href="/rango/category/{{category.url}}">{{ category.name }} </a>
				</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong> There are no categories present. </strong>
	{% endif %}
	</div>

	<div class="span6">
	<h1> List of Pages </h1>
	{% if pages %}
	<ul>
		{% for page in pages %}
		<li> <a href="{{ page.url}}">{{ page.title}} </a> </li>
		{% endfor %}
	</ul>
	{% else %}
	<strong> No pages to display. </strong>
	{% endif %}
	</div>
	</div>
	
	
	<div>
		<a href="/rango/about/"> About </a>
		<img src="{% static "images/rango1.jpg" %}" alt="Picture of Rango"/>

	</div>
	<a href="/rango/add_category/">Add a new category</a> <br/>
	<a href="/rango/about/"> About Rango </a> <br/>

	{% if user.is_authenticated %}
	<a href="/rango/restricted/"> Check restricted </a> <br/>
	<a href="/rango/logout/"> Logout </a> <br/>
	{% else %}
	<a href="/rango/register/"> Register here! </a> <br/>
	<a href="/rango/login/"> Login </a> <br/>
	{% endif %}
	</body>
</html>

